ul{
list-style:none;
}

.upperindex{
	position: fixed;
    z-index: 20;
    top: 0;
    width: 100%;
	padding:10px;
}

.upperindex a{
	color:white;
}

.upperindex h2{
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;

}

.welcomepage,.cyc,.thank{
    margin-top: 40px;
	background-color: #dff0d8;
	margin-bottom:0px;
}

.welcomepage{
padding:30px;
}

.clk{
    margin: 50px;
    min-height: 300px;
    padding-top: 50px;
	cursor: -webkit-grab;


}

.ug, .pg{
    font-size: 21px;
    padding-left: 150px;
    text-align: -webkit-auto;
}

.thankyou{
width:50%;
background:white;
}

.thankmid{
margin:200px;
}



footer{
margin-left:-15px;
margin-right:-15px;
background: #222;
color:#FFFFFF;
padding-bottom:30px;
padding-top:10px;
}

.leftpadding{
padding-left:40px;
}

.err{
color:red;
}

.user{
    margin-bottom: 0px;
    height: 95px;
}

.user h1{
font-size: 20px;
    margin-top: 0px;
    float: right;
}

.imguser{
margin-top:10px;
}

#usertextarea{
    margin-top: 10px;
    width: 80%;
    height: 90px;
}

.imguser1{
width:5%;
margin-bottom:10px;
}

.withs{
width:100%;
}

.homepagepic{
max-height:500px;
padding:0px;
}

.homepagepic img{
 margin-top: 42px;
}